<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="x-icon" href="/static/waylogo.png">
    <title>Way Solutions</title>
    {% include 'bootstrap.html' %}
    
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    
    <div class="container">
      <!--<h1 class="text-center mt-2 mb-4">Way Solutions</h1>-->
      
      <div class="row" style="margin-bottom:16px;">
        <div class="col-md-6">
        <p class="lead">
          Welcome to Way Solutions, where innovation meets functionality in the digital world. As a rising star in the software development scene, we blend creativity, expertise, and advanced technology to provide businesses with effective digital solutions.</p>
          <p class="lead">
          At Way Solutions, our focus is on crafting practical, impactful software solutions that meet your needs. Whether it's a sleek website, a powerful web application, or customized business software, we're dedicated to delivering results that matter.
        </p>
        </div>
        <div class="d-none d-md-block col-md-6">
        <img src="/static/people.jpg" style="height:320px; border-radius:4px;">
        </div>
      </div>
      <h2 class="text-center mt-5 mb-4">Technologies</h2>
      

      <div class="container">
        <div class="row align-items-start">
          {% for tech in technologies %}
          <div class="col-md-4 d-flex justify-content-center">
            {% include 'technologies.html' %}
            </div>
          {% endfor %}
           </div>
        </div>
      </div>
        
      
      
      <!--<h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
      <a href="mailto:Hello@wayline.com?subject=Question%20about%20Job%20Openings&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20questions%3A%20%3Center%20question%20here%3E" class="btn btn-primary btn-lg">Contact Us</a>
        
      </div>-->
      {% include 'footer.html' %}
  </body>
</html>